<div class="container-fluid mb-5">
  <div id="video_window">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLo12_MvY3Yr1h7IEquOJb1n_X3h7m0LSc" height="300" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  <div class="blog-card alt">
    <div class="meta">
      <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1590452224879-867e8012a828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)"></div>
      <ul class="details">
        <li class="author"><a href="#">Autograph Tree</a></li>
        <li class="date">Home Plant</li>
        <li class="tags">
          <ul>
            <li><a href="#">Hope</a></li>
            <li><a href="#">Power</a></li>
            <li><a href="#">Care</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Autograph Tree</h1>
      <h2>Open your doors to the Autograph Tree</h2>
      <p>Clusia is a large genus of trees and shrubs native to tropical America characterized by their branches, which grow horizontally, and their leaves, which are thick and tough. There are about 150 Clusia species, but Clusia rosea, or the autograph tree, is the only one commonly grown. It is notable for its tendency to grow on top of other plants (often strangling them). It is widely considered to be an invasive species. Another unusual quality, this species is part of the only genus of plants capable of absorbing carbon dioxide at night.</p>
    </div>
  </div>
  
  <div class="js-hiddenchat">
  <% if @ticket.issue_type == "I'm in danger, I need help!" %>
      <div>
        <p>Police is on the way!<br>
        Please stay in contact with one of our agents<br>
        </p>
      </div>
  <% elsif @ticket.issue_type == "I want to use hidden live chat" %>
    <%# <div class="js-hiddenchat"> %>
  <% else  %>
    <%# !!!!!!Video chat!!!!!! %>
    <div id="videos"
          data-controller="vonage"
          data-vonage-api-key="<%= ENV["VONAGE_API_KEY"]  %>"
          data-vonage-session-id="<%= @chatroom.vonage_session_id  %>"
          data-vonage-token="<%= @token %>"
          data-vonage-name="<%= current_user.first_name  %>">
    </div>
  <% end %>

  <h5 id="chat">Chat</h5>
  <div data-controller="chatbox">
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>" data-target='chatbox.messages'>
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>


    <%# WE NEED TO FIX THIS CHAT. IT SKIPS AUTHENTICATION TOKEN IN MESSAGES CONTROLLER! %>
    <div class="mb-hidebtn">
      <%= simple_form_for([ @chatroom, @message ], remote: true, html: { data: { turbolinks: "false" } }) do |f| %>
        <%= f.input :content, input_html: { data: { target: "chatbox.input" } }, label: false, placeholder: "Write your message" %>
        <%= f.submit "Send", class: "btn btn-gradient" %>
      <% end %>
    </div>
  </div>

  <%# <div>
    <%= link_to "Edit Tickets", edit_ticket_path, class: "btn btn-primary", id:"chatroom_btn" %>
    <%# <%= link_to "Home", root_path, class: "btn btn-primary", id:"chatroom_btn" %>
  <%# </div>  %>
</div>
<div class="fixed-bottom d-flex justify-content-end">
  <a class="js-hidebtn" z-index: 5 href="#"><i class="fas fa-seedling"></i></a>
</div>
