<div class="container-fluid mb-5">
  <div id="video_window">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLo12_MvY3Yr1h7IEquOJb1n_X3h7m0LSc" height="300" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  
  <div class="js-hiddenchat">
  <% if @ticket.issue_type == "I'm in danger, I need help!" %>
      <div>
        <p>Police is on the way!<br>
        Please stay in contact with one of our agents<br>
        </p>
      </div>
  <% elsif @ticket.issue_type == "I want to use hidden live chat" %>
    <%# <div class="js-hiddenchat"> %>
  <% else  %>
    <%# !!!!!!Video chat!!!!!! %>
    <div id="videos"
          data-controller="vonage"
          data-vonage-api-key="<%= ENV["VONAGE_API_KEY"]  %>"
          data-vonage-session-id="<%= @chatroom.vonage_session_id  %>"
          data-vonage-token="<%= @token %>"
          data-vonage-name="<%= current_user.first_name  %>">
    </div>
  <% end %>

  <h5 id="chat">Chat</h5>
  <div data-controller="chatbox">
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>" data-target='chatbox.messages'>
      <% @chatroom.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>


    <%# WE NEED TO FIX THIS CHAT. IT SKIPS AUTHENTICATION TOKEN IN MESSAGES CONTROLLER! %>
    <div class="mb-hidebtn">
      <%= simple_form_for([ @chatroom, @message ], remote: true, html: { data: { turbolinks: "false" } }) do |f| %>
        <%= f.input :content, input_html: { data: { target: "chatbox.input" } }, label: false, placeholder: "Write your message" %>
        <%= f.submit "Send", class: "btn btn-gradient" %>
      <% end %>
    </div>
  </div>

  <%# <div>
    <%= link_to "Edit Tickets", edit_ticket_path, class: "btn btn-primary", id:"chatroom_btn" %>
    <%# <%= link_to "Home", root_path, class: "btn btn-primary", id:"chatroom_btn" %>
  <%# </div>  %>
</div>
<div class="fixed-bottom d-flex justify-content-end">
  <a class="js-hidebtn" z-index: 5 href="#"><i class="fas fa-seedling"></i></a>
</div>