<h1 id='heading_contact'>Ticket</h1>
<%= simple_form_for(@ticket) do |f| %>
  <%= f.input :status, collection: Ticket.statuses.keys %>
  <%= f.input :comment %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

<div>
  <%= link_to "Back to Tickets", tickets_path, class: "btn btn-primary", id: "back_to"%>
</div>


