<h1 id='heading_contact'>Tickets</h1>
<div class='table_whole'>
  <table>
    <tbody>
      <tr>
        <th>Issue Type</th>
        <th>Status</th>
        <th>Comment</th>
        <th>Details Link</th>
      </tr>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.issue_type %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.comment %></td>
        <td><em><strong><%= link_to 'See the details', ticket_path(ticket) %></em></strong></td>
      </tr>
    <% end  %>
    </tbody>
  </table>
  <div>
    <%= link_to "Back to top", tickets_path, class: "btn btn-primary", id: "back_to"%>
  </div>
</div>
