<h1 id='heading_contact'>Tickets</h1>

<% @tickets.each do |ticket| %>
  <div class="accordion" id="accordionExample">
    <div class="card" id='card_tickets'>
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <% data_t = "#collapse#{ticket.id}" %>
          <button class="btn btn-link" id='accordion_buttons' type="button" data-toggle="collapse" data-target='<%= data_t %>' aria-expanded='true' aria-controls='<%= data_t %>'>
            <% if ticket.issue_type == "I'm in danger, I need help!" %>
              <p id='ticket_data'><strong>Issue Type: </strong><%= ticket.issue_type = 'Police' %></p>
            <% elsif ticket.issue_type == 'I want to use hidden live chat' %>
              <p id='ticket_data'><strong>Issue Type: </strong><%= ticket.issue_type = 'Live Chat' %></p>
            <% elsif ticket.issue_type == 'I want to speak to specialist via video chat'%>
              <p id='ticket_data'><strong>Issue Type: </strong><%= ticket.issue_type = 'Video' %></p>
            <% end %>
              <p id='ticket_data'><strong>Status: </strong><%= ticket.status %></p>
          </button>
        </h2>
      </div>
      <% div_id = "collapse#{ticket.id}"  %>
      <div id='<%=div_id%>' class='collapse show' aria-labelledby='headingOne' data-parent='#accordionExample'>
        <div class="card-body">
          <p id='ticket_data'><strong>Comment: </strong><%= ticket.comment %></p>
          <p style='color:#1e3e2f;'><em><strong><%= link_to 'Details', ticket_path(ticket) %></em></strong></p>
        </div>
      </div>
    </div>
   </div>
<% end %>

<div>
  <%= link_to "Back to top", tickets_path, class: "btn btn-primary", id: "back_to"%>
</div>
