<h1>Tickets</h1>
<div>
  <table>
    <tbody>
      <tr>
        <th>Issue Type</th>
        <th>Status</th>
        <th>Comment</th>
      </tr>
    <% @tickets.each do |ticket| %>
      <tr>
        <td style='padding-right:40px;'><%= ticket.issue_type %></td>
        <td style='padding-right:40px;'><%= ticket.status %></td>
        <td style='padding-right:40px;'><%= ticket.comment %></td>
        <td><%= link_to 'See the details', ticket_path(ticket) %></td>
      </tr>
    <% end  %>
    </tbody>
  </table>
  <%= link_to "Back to dashboard", dashboard_path, class: "btn btn-primary" %>
</div>
