<div class="container" style='margin:0px; padding: 16px;'>
  <%= link_to "Read about domestic violence", information_path, class: "btn btn-gradient mt-3", id:"tickets_new_btn" %>
  <p style='font-size:20px; display: inline-block; text-align:center;'><em>If you want to learn more about domestic violence, please explore our resouces</em></p>
  <% Ticket.styles.each do |style| %>
    <%= simple_form_for(@ticket) do |f| %>
      <%= f.input :issue_type, as: :hidden, input_html: {value: style} %>
      <% if style == "I'm in danger, I need help!" %>
        <%= f.submit style, class: "js-police btn btn-gradient", id:"tickets_new_btn" %>
        <p style='font-size:20px; display: inline-block; text-align:center;'><em>If you are in danger, we will immediatelly call the police and send them to your address</em></p>
      <% elsif style == "I want to use hidden live chat" %>
        <%= f.submit style, class: "js-chat btn btn-gradient", id:"tickets_new_btn" %>
        <p style='font-size:20px; display: inline-block; text-align:center;'><em>If you want to have a hidden chat with one of our specialists, press this button</em></p>
      <% else %>
        <%= f.submit style, class: "js-video btn btn-gradient", id:"tickets_new_btn"%>
        <p style='font-size:20px; display: inline-block; text-align:center;'><em>If you want to have a video chat with one of our specialists, press this button</em></p>
      <% end %>
    <% end %>
  <% end %>

  <%# <div style='margin-top:20px;margin-left:30px;'>

    <%= link_to "Back", root_path, class: "btn btn-success mt-3", id:'back_to' %>
  <%# </div> %>

</div>
