<div class="container col-10">
  <% Ticket.styles.each do |style| %>
    <%= simple_form_for(@ticket) do |f| %>
      <%= f.input :issue_type, as: :hidden, input_html: {value: style} %>
      <% if style == "I'm in danger, I need help!" %>
        <%= f.submit style, class: "js-police btn btn-success w-300" %>
      <% elsif style == "I want to use hidden live chat" %>
        <%= f.submit style, class: "js-chat btn btn-success w-300" %>
      <% else %>
        <%= f.submit style, class: "js-video btn btn-success w-300" %>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "Read about domestic violence", information_path, class: "btn btn-success w-300 mt-3" %>
  <%= link_to "Back", root_path, class: "btn btn-success mt-3" %>
</div>
