<div class="container col-10">
  <% Ticket.styles.each do |style| %>
    <%= simple_form_for(@ticket) do |f| %>
      <%= f.input :issue_type, as: :hidden, input_html: {value: style} %>
      <% if style == "I'm in danger, I need help!" %>
        <%= f.submit style, data: { confirm: 'Are you sure?' }, class: "btn btn-primary w-100" %>
      <% elsif style == "I want to use hidden live chat" %>
        <%= f.submit style, data: { confirm: 'You will be redirected to a page with educational video about plants. One of our agents will be in contact with through a live chat. You can hide/show chat using hide button' }, class: "btn btn-primary w-100" %>
        <p>You will be redirected to a page with educational video about plants<br> 
        One of our agents will be in contact with through a live chat.<br>You can hide/show chat using <i class="far fa-eye-slash"></i> button</p>
      <% else %>
        <%= f.submit style, class: "btn btn-primary w-100" %>
      <% end %>
    <% end %>
  <% end %>

  <%= link_to "Read about domestic violence", information_path, class: "btn btn-primary w-100 mt-3" %>
  <%= link_to "Back", root_path, class: "btn btn-primary mt-3" %>
</div>
