
<h1 id='heading_contact'>Issue Type</h1>
<h3 style='color:#A52A2A; text-align:center;'><strong><%= @ticket.issue_type %></strong></h3>

 <div class='victim_info'>
  <div class='table_whole'>
    <table>
      <tbody>
        <tr>
          <th>Name</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Email</th>
        </tr>
        <tr>
          <td><%= @ticket.victim.first_name%></td>
          <td><%= @ticket.victim.phone_number %></td>
          <td><%= @ticket.victim.address %></td>
          <td><%= @ticket.victim.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class='victim_info'>
  <div class='table_whole'>
    <table>
      <tbody>
        <tr>
          <th>Contact Name</th>
          <th>Contact Number</th>
        </tr>
        <tr>
          <td><%= @ticket.victim.contact.full_name %></td>
          <td><%= @ticket.victim.contact.phone_number%></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class='d-flex justify-content-between'>
  <div>
    <button type="button" id='go_to_btn'><%= link_to 'Edit Ticket', edit_ticket_path, id:"go_to_btn"%></button>
  </div>
  <div>
    <button type="button" id='go_to_btn'><%= link_to 'Go to chatroom!', chatroom_path(@ticket.chatroom), id:"go_to_btn"%></button>
  </div>
  <div>
    <button type="button" id='go_to_btn'><%= link_to 'Go to all tickets!', tickets_path,id:"go_to_btn"%></button>
  </div>
</div>


