<div>
  <%= simple_form_for(@contact) do |f| %>
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
    <%= f.submit %>
  <% end %>
  <%= link_to "Back", contacts_path(@contact), class: "btn btn-primary" %>
</div>
