<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

      <header>
      <div class="overlay">
    <h1>CareTime</h1>
    <h3>Healthy Home Plants</h3>
    <p>Best place for happy healty plants</p>
      <br>
    </div>
    </header>


    <%= yield %>

    <div class="footer">
      <div id="button"></div>
      <div id="container">
        <div id="cont">
          <div class="footer_center">
            <h3 style='font-size: 15px;'><em>Created by Le Wagon Alumnis 2020 © </em></h3>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
  </body>
</html>
